* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    color: blue;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.box-header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.box-content {
    display: none;
    padding: 15px;
}

.box.expanded .box-content {
    display: block;
}

.options {
    margin: 10px 0;
}

.options span {
    font-weight: bold;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.size-option {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.size-option:hover,
.color-option:hover {
    opacity: 0.8;
}